@import "reset.scss";
@import "vars.scss";

#root {
  display: none;
  background: $light-gray;
  font-family: $sans-serif;
}
#not-mobile-alert {
  display: block;
}
@media screen and ($mobile) {
  #root {
    display: block;
  }
  #not-mobile-alert {
    display: none;
  }
}

.view {
  padding: 28px 28px 64px 28px;
  min-height: 100vh;
}

.title {
  margin-bottom: 8px;
  font: $sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 32px;
  margin-top: 7vh;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  .title {
    margin-bottom: 48px;
    font: $sans-serif;
    text-align: center;
    font-size: 42px;
    margin-top: 25vh;
  }
}

.myrecipes {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .title {
    margin-bottom: 8px;
    font: $sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin-top: 7vh;
  }
}
.recipe-preview {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  width: 100%;
  .recipe-pic {
    z-index: 2;
    position: relative;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 1px solid white;
    height: 128px;
    .image {
      z-index: 0;
      width: 100%;
      height: 100%;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }
    .icon {
      font-size: 48px;
      color: $gray;
      z-index: -10;
      position: absolute;
      left: calc(50% - 20px);
      top: calc(50% - 20px);
    }
  }
  div.api-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.view-recipe {
  p {
    font-weight: bold;
    margin-bottom: 2px;
  }
  .instructions {
    white-space: pre-line;

  }
  .nutrition {
    margin-top: 16px;
    border-radius: 0;
    box-shadow: none;
    p {
      font-weight: normal;
    }
    border: 2px black solid ;
  }
  .btn-delete {
    width: 128px;
    border-radius: 12px;
    font-weight: bold;
    background: black;
    margin-top: 12px;
    color: white;
    border: none;
    &:active, &:hover {
      background: $pink;
      color: black;
    }
  }
}

.create-recipe {
  padding-bottom: 44px;
  textarea.form-control {
    min-height: 100px;
    padding-top: 8px;
    &:hover, &:active {
      margin-bottom: 0;
    }
  }
  label {
    font-weight: bold;
  }
  .form-control {
    display: flex;
    border: none;
    outline: none;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 42px;
    background: white;
    padding: 0 8px;
    &:hover, &:active {
      border: none;
      outline: none;
      border-bottom: solid 2px $aquamarine;
      height: 44px;
      margin-bottom: -2px;
    }
  }
  .nutrition {
    border-radius: 0;
    box-shadow: none;
    border: 2px black solid ;
  }
  .ingredient {
    display: flex;
  }
  .delete {
    font-size: 24px;
    margin-left: auto;
  }
  .btn-save {
    position: fixed;
    bottom: 20px;
    width: 128px;
    border-radius: 12px;
    font-weight: bold;
    background: black;
    color: white;
    border: none;
    &:active, &:hover {
      background: $aquamarine;
      color: black;
    }
    &.error {
      &:after {
        content: 'Required inputs are empty';
        position: absolute;
        font-weight: bold;
        font-size: 11px;
        top: 10px;
        right: -180px;
        color: black;
        background: $pink;
      }
      &:active, &:hover {
        background: $pink;
        color: black;
      }
    }
  }
  .search-container {
    width: 100%;
  }
}

.header {
  position: fixed;
  height: 8vh;
  top:0;
  z-index: 4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background: white;
  width: 100vw;
  .header-view {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 28px;
    justify-content: space-between;
    .h-toggle {
      color: black;
      padding: 0;
      margin-right: -4px;
      .my-toggler {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
    .h-title {
      font-size: 24px;
    }
    .h-left {
      width: 32px;
    }
  }
  .header-navbar {
    padding: 0;
    background: white;
    width: 100vw;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    .h-links {
      margin: 0;
      .header-link {
        padding: 8px 0;
        border-top: 1px $light-gray solid;
        .home-link,.create-link,.recipes-link,.help-link {
          font-size: 24px;
          color: black;
        }
      }
    }

  }
}


.header-left {
  position: fixed;
  left: 28px;
  top: 0;
  display: flex;
  height: 8vh;
  align-items: center;
  z-index: 10;
  .h-left {
    color: black;
    font-size: 24px;
    margin: 0;
  }
}


.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 42px;
  border-radius: 6px;
  background: white;
  padding: 0 8px;
  &:hover, &:active {
    border-bottom: solid 2px $aquamarine;
    height: 44px;
    margin-bottom: -2px;
  }
  input, input:hover, input:active {
    border: none;
    outline: none;
  }
  .search-input {
    width: 60%;
  }
  .qty-input {
    width: 20%;
    margin-right: 1px;
    padding-left: 4px;
    border-left: 1px solid $gray;
    &:hover, &:active {
      border-left: 1px solid $gray;
    }
  }
  .qty-label {

  }
  .search-click {
    font-size: 32px;
    margin-left: auto;
    width: 24px;
    height: 24px;
    font-weight: 300;
  }
}

.errorpage{
  .image {
    width: 100px;
  }
}

.help{
  .img-container{
    background-color: whitesmoke;
    border-radius: 5%;
  }
  .image{
    margin-left: 4px;
    width: 150px;
    padding: 2%;
  }
}

.search-results {
  margin-top: 12px;
  text-align: justify;
  display: flex;
  height: 76vh;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-items: center;
}

.api-item {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: white;
  border-radius: 12px;
  margin-bottom: 8px;
  width: calc(100%);
  font-size:12px;
  padding: 4px 8px;
  .food-title {
    padding: 0 0 4px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2px;
    border-bottom: 3px black solid;
    font: bold 15px $sans-serif;
    text-transform: capitalize;
    .food-qty {
      text-transform: none;
      position: absolute;
      right: 0;
      background: white;
      padding-left: 8px;
    }
  }
  .food-info {
    font: 13px $sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info-line {
      display: flex;
      border-bottom: 1px black solid;
      margin-bottom: 2px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .info-line:last-child {
      border-bottom: none;
    }
    .info-item {
      display: flex;
      text-align: justify;
      width: 48%;
      margin-bottom: 0;
    }
    .nutrient-name {
      font-weight: bold;
      margin-right: auto;
    }
  }
}

