@import "reset.scss";
@import "vars.scss";

#root {
  display: none;
  font: $sans-serif;
}
#not-mobile-alert {
  display: block;
}
@media screen and ($mobile) {
  #root {
    display: block;
  }
  #not-mobile-alert {
    display: none;
  }
}

.view {
  margin: 24px;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  .title {
    text-align: center;
  }
}